.font {
     font-family: "Open Sans", sans-serif;

}

nav {
     max-width: 1600px;
     max-height: 92px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: #FFFFFF;
     margin-left: 120px;
     margin-right: 120px;
}



nav .menubar {
     display: flex;
     gap: 32px;
     list-style: none;
}

nav .menubar a {
     text-decoration: none;
     font-size: 16px;
     font-weight: 400;
     text-align: center;
     margin-top: 34px;
     margin-bottom: 34px;

}

.nav-btn {
     max-width: 164px;
     max-height: 44px;
     /* margin-right: 120px; */
     align-items: center;
     padding: 12px 16px;
     border: none;
     border-radius: 4px;
     background-color: #469165;
     font-size: 16px;
     font-weight: 600px;
     color: #FFFFFF;
     cursor: pointer;




}

.section1 {
     width: 1600px;
     height: 674px;
     background-image: url(./B13-A01-Knowledge-Vault/assets/hero-bg.png);
     display: flex;
     align-items: center;
     justify-content: center;


}

.herosection {


     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     text-align: center;
     max-width: 1360px;
     max-height: 379px;


}

.btn {
     width: 229px;
     height: 35px;
     border: none;
     border-radius: 1000px;
     background-color: #FFFFFF;
     color: #469165;
     font-size: 16px;
     font-weight: 400;
     margin-bottom: 16px;

}

#h1 {
     color: #FFFFFF;
     font-size: 72px;
     font-weight: 900;


}

#h2 {
     color: #30B868;
     font-size: 72px;
     font-weight: 900;
}

.herosection p {
     color: #FFFFFF;
     font-size: 18px;
     font-weight: 400;


}

.btn1 {
     width: 251px;
     height: 52px;
     align-items: center;

     justify-content: center;
     padding: 12px 16px;
     border: none;
     border-radius: 4px;
     background-color: #469165;
     font-size: 16px;
     font-weight: 600px;
     color: #FFFFFF;
     cursor: pointer;
     margin-right: 16px;

}

.btn2 {
     width: 198px;
     height: 52px;
     padding: 12px 16px 12px 16px;
     border: none;
     border-radius: 4px;
     background-color: transparent;
     font-size: 16px;
     font-weight: 600px;
     color: #FFFFFF;
     cursor: pointer;
     border: 1px solid white;
}

.section2 .structure h1 {
     font-size: 48px;
     font-weight: 900;
     text-align: center;
     margin-bottom: 16px;


}

.section2 .structure p {
     font-size: 18px;
     font-weight: 400;
     text-align: center;
}
/* Icon style */
.icon-style{
     background-color: #F95555;
     border: 1px solid #F95555;
     border-radius: 1000px;
     padding:14px ;
     height: 32px;
     width: 32px;
     
     

}
.section2 .card{
     display: flex;
     gap: 24px;
     justify-content: center;
     text-align: center;
     align-items: center;
     margin-top: 44px;

}
.section2 .card .scattered-notes-card{
     padding: 70px 24px ;
     width: 322px;
     height: 300px;
     border: 1px solid rgb(255, 230, 230);
     background-color: #FFFFFF;
     border-radius: 8px;
     
}
.section2 .card .scattered-notes-card h3{
     font-size: 24px;
     font-weight: 600;
    

}
.section2 .card .scattered-notes-card p{
     font-size: 16px;
     font-weight: 400;
}